.supcontainer {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 53.96%, #FFFFFF 100%), url('../../assets/Fondo.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: 100%;


  .h1 {
    margin-left: 21.5%;
    margin-top: 7%;
    font-family: 'Inter';
    font-style: bold;
    font-weight: 600;
    text-align: left;
    font-size: 36px;
    line-height: 52px;
    color: #000000;
  }

  .h3 {
    font-family: 'Inter';
    text-align: left;
    margin-left: 2.5%;
    margin-right: 6.5%;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 50px;
    display: inline-block;
    word-break: break-all;
    inline-size: 1020px; 
    overflow: hidden;
  }


  .divPopular {
    text-align: left;
    margin-left: 21.5%;
    margin-bottom: 7%;

    .popular {
      font-family: 'Inter';
      color: rgba(0, 0, 0, 0.6);
      margin-top: 0;
      display: inline-block;
      word-break: break-all;
      margin-right: 1%;
      margin-left: 0%;
    }
  
    .question1 {
      font-family: 'Inter';
      display: inline-block;
      word-break: break-all;
      font-family: Inter;
      font-size: 16px;
      line-height: 28px;
      color: #000000;
      margin-top: 0%;
      margin-bottom: 8%;
      text-decoration-line: underline;
      margin-right: 1%;
      margin-left: 0%;
    }
  
    .question2 {
      display: inline-block;
      word-break: break-all;
      font-family: Inter;
      font-size: 16px;
      line-height: 28px;
      color: #000000;
      margin-top: 0%;
      margin-bottom: 8%;
      text-decoration-line: underline;
      margin-right: 1%;
      margin-left: 0%;
    }
  }

  
  
}
@media (max-width: 740px) {

    .supcontainer {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 53.96%, #FFFFFF 100%), url(/src/assets/Fondo.png);
      background-size: contain;
      background-position: top;
      background-repeat: no-repeat;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    .supcontainer .h3 {
      font-family: "Inter";
      text-align: left;
      margin-left: 0%;
      max-width: 2000px;
      margin-right: 6.5%;
      color: #000000;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 31px;
      display: inline-block;
      word-break: break-all;
      inline-size: 554px;
      overflow: hidden;
  }
  .supcontainer .h1 {
    margin-left: 9.5%;
    margin-top: 7%;
    font-family: "Inter";
    font-style: bold;
    font-weight: 600;
    text-align: left;
    font-size: 36px;
    line-height: 52px;
    color: #000000;
}
.supcontainer .divPopular {
  text-align: left;
  margin-left: 11%;
  margin-bottom: 7%;
}

.question1 {
  font-family: 'Inter';
  display: inline-block;
  word-break: break-all;
  font-family: Inter;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
  margin-top: 0%;
  margin-bottom: 8%;
  text-decoration-line: underline;
  margin-right: 1%;
  margin-left: 0%;
  font-weight: 600;

}

.question2  {
  display: inline-block;
      word-break: break-all;
      font-family: Inter;
      font-size: 16px;
      line-height: 28px;
      color: #000000;
      margin-top: 0%;
      margin-bottom: 8%;
      text-decoration-line: underline;
      margin-right: 1%;
      margin-left: 0%;
      font-weight: 600;
}
body {
  background-color: #e9ecf4;
}
    
  }

  @media (max-width: 340px) {
    
    .supcontainer {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 53.96%, #FFFFFF 100%), url(/src/assets/Fondo.png);
      background-size: contain;
      background-position: top;
      background-repeat: no-repeat;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    .supcontainer .h3 {
      width: 312px;
    height: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
    margin-left: 10px;
  }
  .supcontainer .h1 {
    width: 312px;
    height: 52px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 52px;
    color: #000000;
    margin-left: 10px;
}
.supcontainer .divPopular {
  text-align: left;
  margin-left: 3.5%;
  margin-bottom: 7%;

  .popular {
    font-family: "Inter";
  color: rgba(0, 0, 0, 0.6);
  margin-top: 0;
  font-size: 17px;
  display: inline-block;
  word-break: break-all;
  margin-right: 1%;
  margin-left: 0%;
  }

  .question1 {
    font-family: 'Inter';
    display: inline-block;
    word-break: break-all;
    font-family: Inter;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
    margin-top: 0%;
    margin-bottom: 8%;
    text-decoration-line: underline;
    margin-right: 1%;
    margin-left: 2.5%;
    font-weight: 600;
  
  }
  
  .question2  {
    display: inline-block;
        word-break: break-all;
        font-family: Inter;
        font-size: 16px;
        line-height: 28px;
        color: #000000;
        margin-top: 0%;
        margin-bottom: 8%;
        text-decoration-line: underline;
        margin-right: 1%;
        margin-left: 0%;
        font-weight: 600;
        position: relative;
        top: -53px;
  } 

}
}